<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSHealthShareUsageDescription</key>
	<string>Track your water intake in Apple Health</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Save your hydration data to Apple Health</string>
</dict>
</plist>
